body {
    background-image: url("../images/background.jpeg")
}
.container {
    width: 900px;
    margin: 20px auto; 
   
}
#title {
    padding-top: 20px;
    font-size: 45px;
    color: white;
    text-align: center;

}
#header {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 10px;
    font-family: cursive;
    color: rgb(13, 245, 13);
}
.guessLetter {
    color: blue;
    font-size: 35px;
    padding-top: 30px;
}

p {
    font-family:'Special Elite', cursive;
    font-size: 23px;
    line-height: 21px;
    padding-top: 10px;
    
}
.para {
    color: crimson;
    background-color: transparent;
}
#imag {
    margin-top: 10px;
}
#par {
    color: blue;
}
#letterToGuess {
    padding-bottom: 10px;
}


#inpt {   
    font-size: 28px;
    height: 50px;
}
#col1 {
    background-color:white;
    height: 550px; 
}
#col2 {
    background-color:lightgreen;
    height: 550px;
}
#col3 {
    background-color:white;
    height: 550px;
    
} 
#paragraph {
	font-size: 14px;
	color:black;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	padding-right: 10px;

}
